html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    text-align: center;
    height: 40px;
}

h1 {
    text-align: center;
    height: 200px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    min-height: 75px;
    text-align: center;
    color: white;
    background-color: black;
}

.game-area {
width: 50%;
text-align: center;
margin-left: auto;
margin-right: auto;
display: block;
}

.controls-area {
 display: inline-block;
margin:5px;
width: 80;
height: 40px;
}

.score-area {
    width: 50%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   }

   #messages {
       height: 10px;

   }

   .player {
       float: left;
       margin-left: 30%;
       text-align: center;
   }

   player-image{
       width: 60%;
   }

   .computer {
    float: right;
    margin-right: 30%;
    text-align: center;
}

computer-image {
    width: 60%;
}